<div class="center-div">
  <div class="center-div">
      <span style="padding-right:20px">User Name</span><input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="userName" />
      <br />
      <br />
      <span style="padding-right:25px">Pass Word</span><input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="passWord" />
      <br />
      <br />
      <span style="padding-right:94px"></span><input type="button" value="Login" (click)="onSubmit()" />
  </div>
</div>
